# Librerías principales para la aplicación
textual==0.23.0                # Interfaz de usuario basada en consola
pyfiglet==0.8.post1             # Generación de arte ASCII
fpdf==1.7.2                    # Generación de PDFs
rich==13.3.3                   # Formateo de texto y paneles
